<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-sm-auto shadow-lg rounded text-center my-4">
      <h5 class="bg-light py-4">ユーザーログイン</h5>
      <div class="form-body m-4">
        <div class="mx-auto text-center">
          <p>
            メールアドレスと
            <br>
            パスワードを入力してください。
          </p>
        </div>
        <%= form_with model: @user, url: user_registration_path, local:true do |f| %>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", autofocus: true, placeholder: "名前" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, class:"form-control", autofocus: true, placeholder: "メールアドレス" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= f.password_field :password, class:"form-control", autocomplete: "new-password", placeholder: "パスワード" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
            </div>
            <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder: "パスワード確認" %>
          </div>
          <%= f.submit "サインアップ", class:"btn btn-info btn-block mt-5"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


