<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-sm-auto shadow-sm rounded text-center  px-0 my-5">
      <h5 class="bg-light py-4 mb-0 text-dark ">プロフィール編集</h5>
      <div class="form-body p-4">
        <%= form_with model:@user, local:true do |f| %>
          <div class="input-group my-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前",  class:"form-control" %>
            
          </div>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"my-3" %>
          <div class="input-group">
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class:"my-3" %>
          </div>
          <%= f.submit "変更を保存",  class:"btn btn-block btn-lg btn-info mt-4" %>
        
        <% end %>
      </div>
    </div>
  </div>  
</div>



